<mat-card (click)="navigateToRecipe()">
        <img mat-card-image src="../../../../assets/cheese.jpg" alt="cheese">
    <mat-card-title>
        {{ recipe.name }}
    </mat-card-title>
    <mat-card-content>
        <p>{{ recipe.desc }}</p>
        <p>
            <app-star-rating
            [size]="'small'"
            [displayLabel]="false"
            [rating]="recipe.rating"
            [disabled]="true"
            matTooltip="Rating: {{recipe.rating}}"
            (click)="$event.stopPropagation()">
            </app-star-rating>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); toggleFavourite()">
            <mat-icon>
                {{!recipe.isFavourite? "favorite_outline" : "favorite"}}
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
