* {
    text-overflow: ellipsis;
 }

mat-card {
    display: inline-block;
    margin-left: 15px;
    margin-right: 1px;
    width: 200px;
    height: auto;
    text-overflow: ellipsis;
}

mat-card-content {
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

mat-form-field {
    display: block;
}

mat-slider {
    width: 100%;
}

img {
    height: 150px;
    object-fit: cover;
}