.v-scroll {
    padding-bottom: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: orange lightgrey;
    scrollbar-width: thin;
}

.center {
    text-align: center;
}