<app-main-layout page="">
    <h2 class="section-title">Recently added</h2>
    <div class="v-scroll">
        <!-- TODO Replace with dynamic content -->
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
    </div>
    
    <app-search-form></app-search-form> 
</app-main-layout>
